<div class="row col-md-12 g-2">
    <div class="list-group col-lg-2 me-5" id="list-tab" role="tablist">
	<a class="list-group-item list-group-item-action active" id="list-home-list" data-bs-toggle="list" [routerLink]="['/system']" role="tab" aria-controls="list-home">Inicio</a>
	<a class="list-group-item list-group-item-action" id="list-settings-list" data-bs-toggle="list" [routerLink]="['/notifications']" role="tab" aria-controls="list-settings">Notificaciones</a>
	<a class="list-group-item list-group-item-action" id="list-profile-list" data-bs-toggle="list" [routerLink]="['/cite']" role="tab" aria-controls="list-profile">Solicitar Cita</a>
	<a class="list-group-item list-group-item-action" id="list-messages-list" data-bs-toggle="list" [routerLink]="['/familys']" role="tab" aria-controls="list-messages">Citas Familiares</a>
	<a class="list-group-item list-group-item-action" id="list-messages-list" data-bs-toggle="list" [routerLink]="['/cites']" role="tab" aria-controls="list-messages" >Ver citas</a>
    </div>

    <div class="card col-lg-9">
	<div class="card-header">
	    Central de citas
	</div>
	<div class="card-body">
	    <h5 class="card-title">Bienvenido</h5>
	    <p class="card-text">nuestro sistema de citas, donde podras solicitar tus citas medicas </p>
	    <p class="card-text">observaras el listado de las citas solicitadas</p>
	    <a [routerLink]="['/cites']" class="btn btn-primary">Ver Citas</a>
	</div>
    </div>

</div>

