<div class="row col-md-12 g-2">
    <div class="list-group col-lg-2 me-5" id="list-tab" role="tablist">
	<a class="list-group-item list-group-item-action" id="list-home-list" data-bs-toggle="list" [routerLink]="['/system']" role="tab" aria-controls="list-home">Inicio</a>
	<a class="list-group-item list-group-item-action active" id="list-settings-list" data-bs-toggle="list" [routerLink]="['/notifications']" role="tab" aria-controls="list-settings">Notificaciones</a>
	<a class="list-group-item list-group-item-action" id="list-profile-list" data-bs-toggle="list" [routerLink]="['/cite']" role="tab" aria-controls="list-profile" >Solicitar Cita</a>
	<a class="list-group-item list-group-item-action" id="list-messages-list" data-bs-toggle="list" [routerLink]="['/familys']" role="tab" aria-controls="list-messages" >Citas Familiares</a>
	<a class="list-group-item list-group-item-action" id="list-messages-list" data-bs-toggle="list" [routerLink]="['/cites']" role="tab" aria-controls="list-messages" >Ver citas</a>
    </div>

   <div class="col-md-9 ">
	<h2 class="col-md-6 flex-start">Notificaciones</h2>
	<hr class="mt-1">	
	<div class="alert alert-info" *ngIf="status == 'not found'">
	    {{message}}
	</div>

	<ul class="list-group" *ngFor="let notification of notifications">
	    <li class="list-group-item">
		{{notification.notification}}
		
		<!-- Button trigger modal -->
		<button type="button" class="btn btn-sm btn-danger float-end" data-bs-toggle="modal" [attr.data-bs-target]="'#exampleModal'+notification.id">
		    Eliminar
		</button>

		<!-- Modal -->
		<div class="modal fade" [id]="'exampleModal'+notification.id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		    <div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
			    <div class="modal-header">
				<h1 class="modal-title fs-5" id="exampleModalLabel">Eliminar Notificacion</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			    </div>
			    <div class="modal-body">
				¿Esta seguro en eliminar la notification ?	
			    </div>
			    <div class="modal-footer">
				<button type="button" class="btn btn-sm btn-info" data-bs-dismiss="modal">Cancelar</button>
				<button type="button" class="btn btn-sm btn-danger" data-bs-dismiss="modal" (click)="delete(notification.id)">Eliminar</button>	
			    </div>
			</div>
		    </div>
		</div>
	    </li>
	</ul>
    
   </div> 

</div>

