<h1>Cambiar Contraseña</h1>
<hr>

<div class="alert alert-info" *ngIf="!status"></div>

<div class="alert alert-danger" *ngIf="status == 'error'">{{message}}</div>

<form action="" #changeForm="ngForm" (submit)="onSubmit(changeForm)">

    <div class="mt-3 col-md-6">
	<label for="email" class="label-control">Email</label>
	<input type="email" 
	    name="email" 
	    id="email" 
	    class="form-control"
	    #email="ngModel"
	    [(ngModel)]="user.email"
	    readonly
	    required>
    </div>

    <div class="mt-3 col-md-6">
	<label for="password" class="label-control">Contraseña antigua</label>
	<input type="password" 
	    name="password" 
	    id="password" 
	    class="form-control"
	    #password="ngModel"
	    [(ngModel)]="user.password"
	    pattern="[a-zA-Z\d]{8,12}"
	    required>
	<small class="invalid-feedback d-block ps-1" *ngIf="!password.valid && password.touched">
	    contraseña invalida debe contener de 8 a 12 caracteres
	</small>
    </div>

    <div class="mt-3 col-md-6">
	<label for="password" class="label-control">Nueva Contraseña</label>
	<input type="password" 
	    name="newpass" 
	    id="newpass" 
	    class="form-control"
	    #newpass="ngModel"
	    [(ngModel)]="user.newpass"
	    pattern="[a-zA-Z\d]{8,12}"
	    required>
	<small class="invalid-feedback d-block ps-1" *ngIf="!newpass.valid && newpass.touched">
	    contraseña invalida debe contener de 8 a 12 caracteres
	</small>
	<small class="invalid-feedback d-block ps-1" *ngIf="newpass.value == password.value">
	    la contraseña debe se diferenta a la actual
	</small>
    </div>
    
    <div class="mt-3 col-md-6">
	<label for="password" class="label-control">Confirmar contraseña</label>
	<input type="password" 
	       name="equalpass" 
	       id="equalpass" 
	    class="form-control"
	    #equalpass="ngModel"
	    [(ngModel)]="user.equalpass" 
	    required>
	<small class="invalid-feedback d-block ps-1" *ngIf="equalpass.value != newpass.value">
	    la contraseña debe considir con la anterior
	</small>
    </div>
    
    <div class="mt-3 col-md-6">
	<button type="submit" class="btn btn-success float-end" [disabled]="changeForm.invalid">Actualizar</button>
    </div>
    <div class="clearfix"></div>
</form>
