<div class="row col-md-12 g-2">
    <div class="list-group col-lg-2 me-5" id="list-tab" role="tablist">
	<a class="list-group-item list-group-item-action" id="list-home-list" data-bs-toggle="list" [routerLink]="['/system']" role="tab" aria-controls="list-home">Inicio</a>
	<a class="list-group-item list-group-item-action" id="list-settings-list" data-bs-toggle="list" [routerLink]="['/notifications']" role="tab" aria-controls="list-settings">Notificaciones</a>
	<a class="list-group-item list-group-item-action" id="list-profile-list" data-bs-toggle="list" [routerLink]="['/cite']" role="tab" aria-controls="list-profile">Solicitar Cita</a>
	<a class="list-group-item list-group-item-action" id="list-messages-list" data-bs-toggle="list" [routerLink]="['/familys']" role="tab" aria-controls="list-messages">Citas Familiares</a>
	<a class="list-group-item list-group-item-action active" id="list-messages-list" data-bs-toggle="list" role="tab" aria-controls="list-messages" [routerLink]="['/cites']">Ver citas</a>
    </div>

    <div class="col-lg-9">
	<h2 class="m-0 p-0 float-start">Citas</h2>
	<form class="float-end row g-2 col-md-6" #searchForm="ngForm" (ngSubmit)="onSubmit(searchForm)">

	    <div class="col-md-8">
		<input type="search" class="form-control" name="search" id="search" ngModel placeholder="Buscar">
	    </div>
	    <button type="submit" class="col-md-4 float-end btn btn-sm btn-success">Buscar</button>
	</form>
	<div class="clearfix"></div>
	<hr class="mt-1">
	
	<div class="alert alert-info" *ngIf="status == 'not found'">{{message}}</div>

	<ul class="list-group mt-0" *ngFor="let cite of cites">
	    <li class="list-group-item">
		{{cite.name}} {{cite.lastname}}
		<button type="button" [routerLink]="['/cite-detail/',cite.id]" class="btn btn-sm btn-info float-end me-1" *ngIf="cite.id_status != 5 && cite.id_status != 1">Ver Cita</button>
		<!-- Button trigger modal -->
		<button type="button" class="btn btn-sm btn-danger float-end" *ngIf="cite.id_status == 5" data-bs-toggle="modal" [attr.data-bs-target]="'#exampleModal'+cite.id">
		    Eliminar
		</button>
		
		<!-- Modal -->
		<div class="modal fade" [id]="'exampleModal'+cite.id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		    <div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
			    <div class="modal-header">
				<h1 class="modal-title fs-5" id="exampleModalLabel">Eliminar Definitivamente</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			    </div>
			    <div class="modal-body">
				¿ Esta seguro que desea eliminar la cita ?
			    </div>
			    <div class="modal-footer">
				<button type="button" class="btn btn-sm btn-success" data-bs-dismiss="modal">Cancelar</button>
				<button type="button" class="btn btn-sm btn-danger" data-bs-dismiss="modal" (click)="deleteCite(cite.id)">Eliminar</button>
			    </div>
			</div>
		    </div>
		</div>
	    </li> 
	</ul>

    </div>

</div>

