<div class="row col-md-12 g-2">
    <div class="list-group col-lg-2 me-5" id="list-tab" role="tablist">
	<a class="list-group-item list-group-item-action" id="list-home-list" data-bs-toggle="list" [routerLink]="['/system']" role="tab" aria-controls="list-home">Inicio</a>
	<a class="list-group-item list-group-item-action" id="list-settings-list" data-bs-toggle="list" [routerLink]="['/notifications']" role="tab" aria-controls="list-settings">Notificaciones</a>
	<a class="list-group-item list-group-item-action active" id="list-profile-list" data-bs-toggle="list" [routerLink]="['/cite']" role="tab" aria-controls="list-profile">Solicitar Cita</a>
	<a class="list-group-item list-group-item-action" id="list-messages-list" data-bs-toggle="list" [routerLink]="['/familys']" role="tab" aria-controls="list-messages">Citas Familiares</a>
	<a class="list-group-item list-group-item-action" id="list-messages-list" data-bs-toggle="list" [routerLink]="['/cites']" role="tab" aria-controls="list-messages" >Ver citas</a>
    </div>

    <div class="col-lg-9">
	<h2 class="mb-0">Solicita tu cita</h2>
	<hr class="mt-1">
	
	<div class="alert alert-success" *ngIf="status == 'success'">{{message}}</div>

	<form class="row g-2" #addCite="ngForm" (ngSubmit)="onSubmit(addCite)">
	    
	    <div class="mt-3 col-md-6">
		<label for="name" class="label-control">Nombres</label>
		<input type="text"
		    class="form-control"
		    name="name" 
		    id="name"
		    #name="ngModel"
		    [(ngModel)]="cite.name"
		    pattern="[a-zA-Z\s]{3,20}"
		    readonly
		    required>
		<small *ngIf="!name.valid && name.touched" class="invalid-feedback d-block ps-1">
		    los nombre es invalido, debe contener de 3 a 20 caracteres
		</small>
	    </div>

	    <div class="mt-3 col-md-6">
		<label for="lastname" class="label-control">Apellidos</label>
		<input type="text"
		    class="form-control"
		    name="lastname" 
		    id="lastname"
		    #lastname="ngModel"
		    [(ngModel)]="cite.lastname"
		    >
		<small *ngIf="!lastname.valid && lastname.touched" class="invalid-feedback d-block ps-1">
		    Los apellidos son invalidos, debe contener de 3 a 20 caracteres
		</small>
	    </div>

	    <div class="mt-3 col-md-6">
		<label for="type_document" class="label-control">Tipo de documento</label>
		<input type="text"
		    class="form-control"
		    name="type_document" 
		    id="type_document"
		    #type_document="ngModel"
		    [(ngModel)]="cite.type_document"
		    >
		<small *ngIf="!type_document.valid && type_document.touched" class="invalid-feedback d-block ps-1">
		    tipo de documento invalido
		</small>
	    </div>
	    
	    <div class="mt-3 col-md-6">
		<label for="document" class="label-control">Documento</label>
		<input type="text"
		    class="form-control"
		    name="document" 
		    id="document"
		    #document="ngModel"
		    [(ngModel)]="cite.document"
		    pattern="[a-zA-Z\d\s]{7,20}"
		    required
		    readonly
		    >
		<small *ngIf="!document.valid && document.touched" class="invalid-feedback d-block ps-1">
		    numero de documento es invalido, debe contener de 7 a 20 caracteres y numeros
		</small>
	    </div>
	    
	    <div class="mt-3 col-md-6">
		<label for="phone" class="label-control">Telefono</label>
		<input type="text"
		    class="form-control"
		    name="phone" 
		    id="phone"
		    #phone="ngModel"
		    [(ngModel)]="cite.phone"
		    >
		<small *ngIf="!phone.valid && phone.touched" class="invalid-feedback d-block ps-1">
		    telefono incorrecto, debe contener 10 numeros
		</small>
	    </div>
	    
	    <div class="mt-3 col-md-6">
		<label for="eps" class="label-control">Eps</label>
		<input type="text"
		    class="form-control"
		    name="eps" 
		    id="eps"
		    #eps="ngModel"
		    [(ngModel)]="cite.eps"
		    pattern="[a-zA-Z\s]{5,20}"
		    required>
		<small *ngIf="!eps.valid && eps.touched" class="invalid-feedback d-block ps-1">
		    eps invalido, debe contener de 5 a 20 caracteres
		</small>
	    </div>
	    
	    <div class="mt-3 col-md-12">
		<label for="eps" class="label-control">Citas</label>
		<select name="citas" id="citas" #cita="ngModel" [(ngModel)]="cite.id_speciality" class="form-control">
		    <option value="0">Seleccione cita medica</option>
		    <option *ngFor="let speciality of specialitys" [value]="speciality.id">{{speciality.specialitys}}</option>
		</select>
		<small *ngIf="cita.value == 0" class="invalid-feedback d-block ps-1">
		    seleccione la especialidad
		</small>
	    </div>


	    <div class="mt-3">
		<button type="submit" class="btn btn-success" [disabled]="addCite.invalid">Solicitar</button>
	    </div>

	</form>

    </div>

</div>

